.cast-list {
  list-style-type: none;
  text-align: center;
}

.cast-item {
  margin-bottom: 40px;
}
.cast-title {
  margin-top: 0;
  margin-bottom: 5px;
}

.cast-text {
  margin-top: 0;
  margin-bottom: 5px;
}
